
caption {
    font-size: large;
    font-family: Franklin Gothic Medium;
    font-style: oblique;
}

td:nth-child(even) {
    background-color: lavender;
  }

th:nth-child(even) {
    background-color: lavender;
  }

  th, td:nth-last-child(even) {
    background-color: lavenderblush;
  }

 td:nth-last-of-type() {
    border: 1px solid red;
 }

td, tr, th {
    text-align: center;
    border: 1px solid;
}

table  {
    border-collapse: collapse;
    border: 2px solid;
    margin: auto;
    height: 250px;
}

body {
    background-cl
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
